openapi: 3.1.0
info:
  title: Pulsedive API Reference
  version: "1.0.0"
  description: |
    The Pulsedive API lets you programmatically manage resources within Pulsedive.
    Users can look up known indicators and threats, enrich and investigate indicators, query Pulsedive data, and automate workflows.

    Please report any discrepancies in API behavior to <a href="mailto:support@pulsedive.com">Pulsedive Support</a>.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: support@pulsedive.com

externalDocs:
  url: https://pulsedive.mintlify.app

servers:
- url: https://www.pulsedive.com

tags:
- name: Indicators
  description: Look up known indicators.
- name: Threats
  description: Look up known threats.

paths:
  /api/info.php:
    get:
      tags:
      - Indicators
      summary: Get Indicator By Value
      description: |
        Retrieve detailed threat intelligence information for a specific indicator by value.
        To query links and properties, retrieve the indicator by ID instead.
      operationId: getIndicatorByValue
      parameters:
      - name: indicator
        in: query
        required: true
        description: |
          Value of the indicator to retrieve. May be:

          - a domain name (for example, `microsoft.com`)
          - an IP address (for example, `8.8.8.8`)
          - a URL (for example, `https://pulsedive.com/explore`)
        schema:
          type: string
        examples:
          ip:
            summary: IPv4 address
            value: 8.8.8.8
          domain:
            summary: Domain name
            value: microsoft.com
          url:
            summary: URL
            value: https://pulsedive.com/explore
      - name: pretty
        in: query
        required: false
        description: |
          Indicates whether to format returned JSON results.

          For pretty-printed output, set to 1.
          For compact output, set to 0.
        schema:
          type: integer
          enum:
          - 0
          - 1
          default: 0
        examples:
          compact:
            summary: Compact output
            value: 0
          pretty:
            summary: Pretty-printed output
            value: 1

      responses:
        '200':
          description: Successful request. Returns indicator information in JSON format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:

  schemas:
    IndicatorResponse:
      type: object
      properties:
        qid:
          type: integer
          description: Unique identifier of the associated query, if available. Null indicates no query association.
        iid:
          type: integer
          description: Unique identifier of the indicator.
        indicator:
          type: string
          description: Value of the indicator being assessed.
        type:
          type: string
          description: Type of indicator.
          enum:
          - domain
          - ip
          - url
        risk:
          type: string
          description: Pulsedive-calculated risk level.
          enum:
          - unknown
          - very low
          - low
          - medium
          - high
          - critical
        risk_recommended:
          type: string
          description: Recommended risk level based on Pulsedive automated risk scoring.
          enum:
          - unknown
          - very low
          - low
          - medium
          - high
          - critical
        manualrisk:
          type: integer
          description: |
            Indicates whether the risk score has been manually adjusted by a user.

            When set to `1`, the risk score has been manually overridden by a user.
            When set to `0`, the risk score reflects Pulsedive's assessment.
          enum:
          - 0
          - 1
        retired:
          type: integer
          description: |
            Indicates whether this indicator is considered inactive or obsolete.

            When set to `1`, this indicator is retired.
            When set to `0`, this indicator is active.
          enum:
          - 0
          - 1
        stamp_added:
          type: string
          description: Timestamp when this indicator was first added to Pulsedive.
          format: date-time
        stamp_updated:
          type: string
          description: Last time the indicator record was updated in Pulsedive.
          format: date-time
        stamp_seen:
          type: string
          description: Last time the indicator was reported or seen in feeds or user submissions in Pulsedive.
          format: date-time
        stamp_probed:
          type: string
          description: Last time the indicator was actively scanned (probed) by Pulsedive.
          format: date-time
        stamp_retired:
          type: string
          format: date-time
          description: Timestamp when the indicator was retired in Pulsedive, if applicable.
          nullable: true
        recent:
          type: integer
          description: Flag indicating recent activity.
          enum:
          - 0
          - 1
        submissions:
          type: integer
          description: Number of times the indicator has been submitted.
        umbrella_rank:
          type: integer
          description: Threat reputation score assigned by Cisco Umbrella.
        umbrella_domain:
          type: string
          description: Canonical or base doman as recognized by Cisco Umbrella.
        riskfactors:
          type: array
          description: List of risk factors influencing this indicator's score.
          items:
            type: object
            properties:
              rfid:
                type: integer
                description: Unique identifier of the risk factor.
              description:
                type: string
                description: Explanation of the risk factor.
              risk:
                type: string
                description: Risk level associated with the risk factor.
                enum:
                - unknown
                - very low
                - low
                - medium
                - high
                - critical
        redirects:
          type: object
          description: Redirect relationships involving this indicator.
          properties:
            from:
              type: array
              description: Other indicators that redirect to this indicator.
              items:
                type: object
                description:
                properties:
                  iid:
                    type: integer
                    description: Unique identifier of other indicator.
                  indicator:
                    type: string
                    description: Value for other indicator.
            to:
              type: array
              description: Other indicators that this indicator redirects to.
              items:
                type: object
                description:
                properties:
                  iid:
                    type: integer
                    description: Unique identifier of other indicator.
                  indicator:
                    type: string
                    description: Value for other indicator.
        threats:
          type: array
          description: Known threats associated with this indicator.
          items:
            type: object
            description: xx
            properties:
              tid:
                type: integer
                description: Unique identifier of the threat.
              name:
                type: string
                description: Name of the threat.
              category:
                type: string
                description: Category of the threat.
              risk:
                type: string
                description: Risk level of the threat.
              stamp_linked:
                type: string
                format: date-time
                description: Timestamp when the threat was linked to this indicator.
        feeds:
          type: array
          description: Threat intelligence feeds referencing this indicator.
          items:
            type: object
            description: xx
            properties:
              fid:
                type: integer
                description: Unique identifier of the feed.
              name:
                type: string
                description: Name of the feed.
              category:
                type: string
                description: Category of the feed.
              organization:
                type: string
                description: Organization from which the feed was sourced.
              pricing:
                type: string
                description: xx
              stamp_linked:
                type: string
                description: Timestamp when the feed was linked to this indicator.
                format: date-time
        comments:
          type: array
          description: Information about comments recorded from Pulsedive users for this indicator.
          items:
            type: object
            description: xx
            properties:
              cid:
                type: integer
                description: Unique identifier of the comment.
              username:
                type: string
                description: Username of the comment originator.
              title:
                type: string
                description: Job title of the comment originator.
              comment:
                type: string
                description: Text of the comment.
              stamp_added:
                type: string
                description: Timestamp for when the comment was created.
                format: date-time
              stamp_updated:
                type: string
                description: Timestamp for when the comment was last updated.
                format: date-time
              uid:
                type: integer
                description: Unique user identifer of the comment originator.
        attributes:
          type: object
          description: Technical metadata observed for this indicator.
          properties:
            port:
              type: array
              description: List of ports open/in use.
              items:
                type: string
            protocol:
              type: array
              description: List of network protocols in use.
              items:
                type: string
            technology:
              type: array
              description: List of technologies identified.
              items:
                type: string
        properties:
          type: object
          description: Detailed sub-properties for this indicator, grouped by data source.
          properties:
            geo:
              type: object
              description: Geolocation data associated with this indicator.
              properties:
                countrycode:
                  type: string
                  description: Two-letter country code of the country associated with this indicator.
                region:
                  type: string
                  description: State or region associated with this indicator.
                country:
                  type: string
                  description: Full name of the country associated with this indicator.
                address:
                  type: string
                  description: Address associated with this indicator.
                zip:
                  type: string
                  description: Postal or ZIP code associated with this indicator.
                city:
                  type: string
                  description: City or municipality associated with this indicator.
                org:
                  type: string
                  description: Name of the organization associated with this indicator.
            whois:
              type: object
              description: |
                Mapping of data sourced from WHOIS records (and any registrar-specific extensions to the base WHOIS schema) for this indicator.
                May include information about the domain, registrar, associated contacts, and registrar-specific fields.
                Each key corresponds to a WHOIS field name, and the value represents the data retrieved for that field.
                Where multiple values exist for the same field, the value will be presented as an array of strings.

                Pulsedive provides supplemental fields that are not present in the original source.
                The values for these fields are derived from raw data or parsed from other sources.
                Supplemental fields are prefixed with a `++` symbol.
              properties:
                ++abuse:
                  type: string
                  description: Email address to report abuse related to the domain.
                ++email:
                  type: array
                  description: List of email addresses associated with the domain registration. May include technical, administrative, or contact emails.
                  items:
                    type: string
                    description: xx
                ++expires:
                  type: string
                  format: date-time
                  description: Date when the domain's registration is set to expire, possibly including time and timezone. Normalizes the ISO date in registrar registration expiration date to YYYY-MM-DD HH:MM:SS.
                ++gdpr:
                  type: string
                  description: Indicates whether the domain's WHOIS information is subject to General Data Protection Regulation (GDPR) restrictions.
                ++phone:
                  type: array
                  description: List of phone numbers associated with the domain registration. May include technical, administrative, or contact phone numbers.
                ++privacy:
                  type: string
                  description: Indicates whether WHOIS privacy protection is enabled.
                ++registered:
                  type: string
                  format: date-time
                  description: Date when the domain was initially registered.
                ++registrant:
                  type: array
                  description: Supplementary list of registrant names. May overlap with person or responsible.
                  items:
                    type: string
                ++registrar:
                  type: string
                  description: Name of the registrar managing the domain registration.
                ++updated:
                  type: string
                  format: date-time
                  description: Date when the domain's WHOIS record was last updated.
              additionalProperties:
                type: object
                description: |
                  Dynamic key-value pairs representing additional WHOIS data fields not explicitly defined above.
                  Each key is a string representing the field name, and the value is an object containing the field's data.
                  This allows for flexibility in capturing various data points without explicitly defining each possible field.
                oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            http:
              type: object
              description: "Data extracted from the HTTP response and headers. May include information about the result (example: status or code), server (example: server or x-powered-by), content (example: content-type or content-length), caching (example: cache-control or etag), security (example: strict-transport-security or x-frame-options), redirects (example: location or refresh), timing (example: date or age), or custom headers. Each key represents an HTTP field name (lowercased), and its corresponding value is the value retrieved for that field. Collected during active scanning."
              properties:
                server:
                  type: string
                  description: xx
                x-xss-protection:
                  type: string
                  description: xx
                vary:
                  type: string
                  description: xx
                x-content-type-options:
                  type: string
                  description: xx
                connection:
                  type: string
                  description: xx
                strict-transport-security:
                  type: string
                  description: xx
                cache-control:
                  type: string
                  description: xx
                content-encoding:
                  type: string
                  description: xx
                keep-alive:
                  type: string
                  description: xx
                ++code:
                  type: string
                  description: Code portion of the HTTP status code returned with the page response. It indicates the result of the HTTP request. Internal/extended metadata.
                transfer-encoding:
                  type: string
                  description: xx
                ++status:
                  type: string
                  description: Status portion of the HTTP status code returned with the page response. It indicates the result of the HTTP request. Internal/extended metadata.
                content-type:
                  type: string
                  description: xx
                ++content-type:
                  type: string
                  description: MIME type of the page without parameters.
                content-security-policy:
                  type: string
                  description: xx
                ++base:
                  type: string
                  description: Internal/extended metadata.
                ++target:
                  type: string
                  description: Internal/extended metadata.
                ++redirect:
                  type: string
                  description: Redirection target for the page. When defined in metadata, it often powers static site frameworks or CMS routing (e.g., Hugo, Next.js, Netlify). Can optionally include a status code. Internal/extended metadata.
                date:
                  type: string
                  format: date-time
                set-cookie:
                  type: string
                  description: xx
            ssl:
              type: object
              description: "Information extracted from the SSL/TLS certificate presented by the indicator during a handshake. May include information about ownership and identity (example: subject, domain), issuing authority (example: issuer), certificate lifecycle (example: expires, valid), and technical fingerprinting (example: version, fingerprint). Collected during active scanning."
              properties:
                subject:
                  type: string
                  description: Entity to which the certificate was issued.
                domain:
                  type: array
                  description: Primary domain name associated with the certificate, typically from the Common Name (CN) or Subject Alternative Name (SAN).
                  items:
                    type: string
                    description: xx
                version:
                  type: string
                  description: Version of the X.509 standard used by the certificate.
                org:
                  type: string
                  description: Common Name (CN) of the specific certificate authority that signed the certificate, extracted from the issuer field.
                ip:
                  type: string
                  description: IP address of the server presenting the certificate, if resolved.
                issuer:
                  type: string
                  description: Full Distinguished Name (DN) of the Certificate Authority (CA) that issued the certificate. Includes components like country (C), organization (O), and common name (CN).
                expires:
                  type: string
                  format: date-time
                  description: Expiration date and time of the certificate. After this date, the certificate is no longer valid.
                fingerprint:
                  type: string
                  description: Hash of the certificate used to uniquely identify the certificate and detect duplicates or known bad certs.
                valid:
                  type: string
                  format: date-time
                  description: Date and time when the certificate becomes valid.
                email:
                  type: string
                  description: Email address listed in the certificates subject or issuer fields.
                cipher:
                  type: array
                  description: Name of the cipher suite negotiated during the handshake. Useful for identifying the strength and type of encryption in use.
            dns:
              type: object
              description: Domain-related information for this indicator gathered from public DNS resolvers. Collected during active scanning.
              properties:
                mname:
                  type: string
                  description: Primary master nameserver for the domain's DNS zone, which is the authoritative source for DNS records.
                ns:
                  type: array
                  description: Nameserver hostnames responsible for resolving the domain.
                  items:
                    type: string
                mx:
                  type: array
                  description: Mail exchange server hostname for the domain, indicating where email should be routed.
                  items:
                    type: string
                a:
                  type: array
                  description: IPv4 addresses (A records) associated with the domain. These point to the servers hosting the domain.
                txt:
                  type: array
                  description: Text records associated with the domain. Commonly used by email authentication protocols like SPF, DKIM, and DMARC to help receiving mail servers verify the legitimacy of messages.
                  items:
                    type: string
                rname:
                  type: string
                  description: xx
                soa:
                  type: string
                  description: Start of Authority (SOA) record for the domain. Contains administrative information about the zone, such as primary nameserver (mname) and serial number.
                mame:
                  type: string
                  description: Email address of the responsible party for the DNS zone, typically formatted as a contact email for the domains DNS administrator or technical contact.
                aaaa:
                  type: array
                  description: IPv6 addresses (AAAA records) associated with the domain.
            meta:
              type: object
              description: Website metadata extracted from the HTML <head> tag. May include standard WC3 meta tags (for example, charset), SEO and crawling tags (for example, description, robots), social media platform meta tags (for example, twitter:card or og:card), or custom meta tags. Each key represents a meta tag type, and its corresponding value is the value retrieved from that meta tag.Collected during active scanning.
              properties:
                viewport:
                  type: string
                  description: xx
                twitter:card:
                  type: string
                  description: xx
                twitter:site:
                  type: string
                  description: xx
                charset:
                  type: string
                  description: xx
                ++title:
                  type: string
                  description: Title of the website collected from the HTML <title> tag in the <head> tag.
                keywords:
                  type: string
                  description: xx
                twitter:title:
                  type: string
                  description: xx
                assets:
                  type: string
                  description: xx
                  format: uri
                og:title:
                  type: string
                  description: xx
                og:description:
                  type: string
                  description: xx
                description:
                  type: string
                  description: xx
                twitter:description:
                  type: string
                  description: xx
                og:url:
                  type: string
                  description: xx
                  format: uri
                author:
                  type: string
                  description: xx
                twitter:creator:
                  type: string
                  description: xx
                twitter:image:
                  type: string
                  description: xx
                  format: uri
                og:image:
                  type: string
                  description: xx
                  format: uri
                version:
                  type: string
                  description: xx
            banners:
              type: object
              description: Mapping of port numbers (as strings) to service banner strings. Each key represents a port number, and its corresponding value is the banner retrieved from that port. Collected during active scanning.
            dom:
              type: object
              description: Data related to the Document Object Model (DOM) of this indicator. Collected during active scanning.
              properties:
                screenshot:
                  type: string
                  description: URL of a screenshot of the loaded page.
            cookies:
              type: object
              description: Mapping of HTTP cookies set by this indicator. Each key is the name of a cookie, and its corresponding value is the cookie's content. Collected during active scanning.
              properties:
                phpsessid:
                  type: string
                  description: xx

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Message describing the error that occurred, if available.

  responses:
    BadRequest:
      description: |
        Bad request. The request was malformed or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: |
        Unauthorized. Your API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: |
        Not found. The requested indicator could not be located.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    TooManyRequests:
      description: |
        Rate limit exceeded. Too many requests have been made in a short period of time.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: |
        Server error. An unexpected problem occurred on our end.
        These errors are automatically reported to our team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
