openapi: 3.1.0
info:
  title: Pulsedive API Reference
  version: "1.0.0"
  description: |
    The Pulsedive API lets you programmatically manage resources within Pulsedive.
    Users can look up known indicators and threats, enrich and investigate indicators, query Pulsedive data, and automate workflows.

    Please report any discrepancies in API behavior to <a href="mailto:support@pulsedive.com">Pulsedive Support</a>.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: support@pulsedive.com

externalDocs:
  url: https://pulsedive.mintlify.app

servers:
- url: https://www.pulsedive.com

tags:
- name: Authorization

- name: Indicators
  description: Look up known indicators.
- name: Threats
  description: Look up known threats.

paths:
  /api/info.php:
    get:
      tags:
      - Indicators
      summary: Get Indicator By Value
      description: |
        Retrieve detailed threat intelligence information for a specific indicator by value.
        To query links and properties, retrieve the indicator by ID instead.
      operationId: getIndicatorByValue
      parameters:
      - name: indicator
        in: query
        required: true
        description: |
          Value of the indicator to retrieve. May be:

          - a domain name (for example, `microsoft.com`)
          - an IP address (for example, `8.8.8.8`)
          - a URL (for example, `https://pulsedive.com/explore`)
        schema:
          type: string
        examples:
          ip:
            summary: IPv4 address
            value: 8.8.8.8
          domain:
            summary: Domain name
            value: microsoft.com
          url:
            summary: URL
            value: https://pulsedive.com/explore
      - name: pretty
        in: query
        required: false
        description: |
          Indicates whether to format returned JSON results.

          For pretty-printed output, set to 1.
          For compact output, set to 0.
        schema:
          type: integer
          enum:
          - 0
          - 1
          default: 0
        examples:
          compact:
            summary: Compact output
            value: 0
          pretty:
            summary: Pretty-printed output
            value: 1
      - name: key
        in: query
        required: false
        description: |
          Your Pulsedive API key.
          
          API key authentication is optional. However, requests without a key are rate-limited more aggressively. We recommend including an API key for better performance and reliability.
        schema:
          type: string
      responses:
        '200':
          description: Successful request. Returns indicator information in JSON format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:

  schemas:
    IndicatorResponse:
      type: object
      properties:
        qid:
          type: integer
          description: |
            Unique identifier of the associated query, if available.
          nullable: true
        iid:
          type: integer
          description: Unique identifier of the indicator.
          nullable: false
        indicator:
          type: string
          description: Value of the indicator being assessed.
        type:
          type: string
          description: Type of indicator.
          enum:
          - domain
          - ip
          - url
        examples:
          domain:
            summary: Domain name
            value: microsoft.com
          ip:
            summary: IP address
            value: 8.8.8.8
          url:
            summary: URL
            value: https://microsoft.com/example
        risk:
          type: string
          description: |
            Final risk score for the indicator.

            If a user has manually adjusted the risk score, this value may differ from the recommended risk score.
            In this case, `manualrisk` is set to `1`.
          enum:
          - unknown
          - very low
          - low
          - medium
          - high
          - critical
        risk_recommended:
          type: string
          description: Recommended risk level based on Pulsedive automated risk scoring.
          enum:
          - unknown
          - very low
          - low
          - medium
          - high
          - critical
        manualrisk:
          type: integer
          description: |
            Indicates whether the risk score has been manually adjusted by a user.

            When set to `1`, the risk score has been manually overridden by a user.
            When set to `0`, the risk score reflects Pulsedive's assessment.
          enum:
          - 0
          - 1
        retired:
          type: integer
          description: |
            Indicates whether this indicator is inactive or obsolete.

            An indicator is automatically retired if, in the past three months, it has not been:
           
            - Reported using the Seen button in the Pulsedive UI
            - Observed in any source feeds
            - Submitted through the Analyze section of the Pulsedive UI

            Contributors can also retire indicators manually.

            When set to `1`, this indicator is retired.
            When set to `0`, this indicator is active.
          enum:
          - 0
          - 1
          nullable: true
        stamp_added:
          type: string
          format: sql-date-time
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: |
            Timestamp when the indicator was first added to Pulsedive.

            Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
          nullable: true
          example: '2025-05-19 14:23:45'
        stamp_updated:
          type: string
          format: sql-date-time
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: |
            Timestamp when the indicator record was last updated in Pulsedive.

            Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
          nullable: true
          example: '2025-05-19 14:23:45'
        stamp_seen:
          type: string
          format: sql-date-time
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: |
            Timestamp when the indicator was last reported or seen in feeds or user submissions in Pulsedive.
            
            Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
          nullable: true
          example: '2025-05-19 14:23:45'
        stamp_probed:
          type: string
          format: sql-date-time
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: |
            Timestamp when the indicator was last actively scanned (probed) by Pulsedive.
            
            Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
          nullable: true
          example: '2025-05-19 14:23:45'
        stamp_retired:
          type: string
          format: sql-date-time
          pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
          description: |
            Timestamp when the indicator was retired in Pulsedive, if applicable.
          
            Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
          nullable: true
          example: '2025-05-19 14:23:45'
        recent:
          type: integer
          description: |
            Indicates whether this indicator has had recent activity. Deprecated.

            When set to `1`, the indicator has had recent activity.
            When set to `0`, the indicator has not had recent activity.
          enum:
          - 0
          - 1
        submissions:
          type: integer
          description: Number of times the indicator has been submitted by a contributor.
        umbrella_rank:
          type: integer
          description: |
            Rank of the indicator on Cisco Umbrella's top one million domains list.
            This list reflects the most frequently queried domains, based on passive DNS data across Cisco's global Umbrella network.
          example: 11032
        umbrella_domain:
          type: string
          description: |
            Canonical (base) domain as recognized by Cisco Umbrella. Populated when `umbrella_rank` is present.
        riskfactors:
          type: array
          description: List of risk factors influencing this indicator's score.
          items:
            type: object
            properties:
              rfid:
                type: integer
                description: Unique identifier of the risk factor.
              description:
                type: string
                description: Explanation of the risk factor.
                example: found in threat feeds
              risk:
                type: string
                description: Risk level associated with the risk factor.
                enum:
                - unknown
                - very low
                - low
                - medium
                - high
                - critical
        redirects:
          type: object
          description: Redirect relationships involving this indicator.
          properties:
            from:
              type: array
              description: Other indicators that redirect to this indicator.
              items:
                type: object
                description:
                properties:
                  iid:
                    type: integer
                    description: Unique identifier of other indicator.
                  indicator:
                    type: string
                    description: |
                      Value for other indicator.

                      May be:

                      - a domain name (for example, `microsoft.com`)
                      - an IP address (for example, `8.8.8.8`)
                      - a URL (for example, `https://pulsedive.com/explore`)
                    examples:
                      ip:
                        summary: IPv4 address
                        value: 8.8.8.8
                      domain:
                        summary: Domain name
                        value: microsoft.com
                      url:
                        summary: URL
                        value: https://pulsedive.com/explore
            to:
              type: array
              description: Other indicators that this indicator redirects to.
              items:
                type: object
                description:
                properties:
                  iid:
                    type: integer
                    description: Unique identifier of other indicator.
                  indicator:
                    type: string
                    description: |
                      Value for other indicator.

                      May be:

                      - a domain name (for example, `microsoft.com`)
                      - an IP address (for example, `8.8.8.8`)
                      - a URL (for example, `https://pulsedive.com/explore`)
                    examples:
                      ip:
                        summary: IPv4 address
                        value: 8.8.8.8
                      domain:
                        summary: Domain name
                        value: microsoft.com
                      url:
                        summary: URL
                        value: https://pulsedive.com/explore
        threats:
          type: array
          description: Known threats associated with this indicator.
          items:
            type: object
            properties:
              tid:
                type: integer
                description: Unique identifier of the threat.
              name:
                type: string
                description: Name of the threat.
                example: Zeus
              category:
                type: string
                description: Category assigned to the threat.
                example: malware
              risk:
                type: string
                description: Risk level associated with the threat.
                enum:
                - unknown
                - very low
                - low
                - medium
                - high
                - critical
              stamp_linked:
                type: string
                format: sql-date-time
                pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
                description: |
                  Timestamp when the threat was linked to this indicator.
            
                  Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
                example: '2025-05-19 14:23:45'
        feeds:
          type: array
          description: Threat intelligence feeds that reference this indicator.
          items:
            type: object
            properties:
              fid:
                type: integer
                description: Unique identifier for the feed.
                nullable: false
              name:
                type: string
                description: Name of the feed.
                example: Zeus Bad Domains
              category:
                type: string
                description: Category assigned to the feed.
                example: malware
              organization:
                type: string
                description: Organization that provides the feed.
                example: abuse.ch
              pricing:
                type: string
                description: Pricing tier of the feed.
                example: free
              stamp_linked:
                type: string
                format: sql-date-time
                pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
                description: |
                  Timestamp when the feed was linked to this indicator.
            
                  Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
                example: '2025-05-19 14:23:45'
        comments:
          type: array
          description: Comments submitted by Pulsedive contributors for this indicator.
          items:
            type: object
            properties:
              cid:
                type: integer
                description: Unique identifier for the comment.
                nullable: false
              username:
                type: string
                description: Username of the comment's author.
                example: sherd
              title:
                type: string
                description: Job title of the comment's author.
                example: Founder
              comment:
                type: string
                description: Text content of the comment.
                example: Have you seen our Pro tier? 😎
              stamp_added:
                type: string
                format: sql-date-time
                pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
                description: |
                  Timestamp when the comment was created.
            
                  Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
                example: '2025-05-19 14:23:45'
              stamp_updated:
                type: string
                format: sql-date-time
                pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
                description: |
                  Timestamp when the comment was last modified.
            
                  Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
                example: '2025-05-19 14:23:45'
              uid:
                type: integer
                description: |
                  Unique identifier for the user who created the comment.
                  Visible to only the user who submitted the comment.
        attributes:
          type: object
          description: Technical metadata observed for this indicator.
          properties:
            port:
              type: array
              description: List of ports open/in use.
              items:
                type: string
                example: '443'
            protocol:
              type: array
              description: List of network protocols in use.
              items:
                type: string
                example: HTTPS
            technology:
              type: array
              description: List of technologies identified.
              items:
                type: string
                example: jQuery
        properties:
          type: object
          description: Detailed sub-properties for this indicator, grouped by type or data source.
          properties:
            geo:
              type: object
              description: Geolocation details linked to this indicator.
              properties:
                countrycode:
                  type: string
                  description: Two-letter ISO country code.
                  example: US
                region:
                  type: string
                  description: State or region.
                  example: CA
                country:
                  type: string
                  description: Full country name.
                  example: United States of America
                address:
                  type: string
                  description: Street address.
                  example: 221 Lombard Street
                zip:
                  type: string
                  description: Postal or ZIP code.
                  example: '94102'
                city:
                  type: string
                  description: City or municipality.
                  example: San Francisco
                org:
                  type: string
                  description: Name of the associated organization.
                  example: Pulsedive
            whois:
              type: object
              description: |
                Mapping of data sourced from WHOIS records (and any registrar-specific extensions to the base WHOIS schema) for this indicator.
                May include information about the domain, registrar, associated contacts, and registrar-specific fields.
                Each key corresponds to a WHOIS field name, and the value represents the data retrieved for that field.
                Where multiple values exist for the same field, the value will be presented as an array of strings.

                Pulsedive provides supplemental fields that are not present in the original source.
                The values for these fields are derived from raw data or parsed from other sources.
                Supplemental fields are prefixed with a `++` symbol.
              properties:
                ++abuse:
                  type: string
                  description: Email address to report abuse related to the domain.
                  example: abuse-complaints@squarespace.com
                ++email:
                  type: array
                  description: List of email addresses associated with the domain registration. May include technical, administrative, or contact emails.
                  items:
                    type: string
                    example: username@organization.org
                ++expires:
                  type: string
                  format: sql-date-time
                  pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
                  description: |
                    Timestamp when the domain's registration is set to expire.

                    Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
                    Normalizes the ISO date in `registrar registration expiration date`.
                  example: '2025-05-19 14:23:45'
                ++gdpr:
                  type: string
                  description: |
                    Indicates whether the domain's WHOIS data is restricted under the General Data Protection Regulation (GDPR).

                    When set to `1`, the data is subject to GDPR restrictions.
                    When set to `0`, the data is not restricted by GDPR.
                  enum:
                  - 0
                  - 1
                ++phone:
                  type: array
                  description: List of phone numbers associated with the domain registration. May include technical, administrative, or contact phone numbers.
                  items:
                    type: string
                    example: +1.646-693-5324
                ++privacy:
                  type: string
                  description: |
                    Indicates whether WHOIS privacy protection is enabled.

                    When set to `1`, privacy protection is enabled.
                    When set to `0`, privacy protect is not enabled.
                  enum:
                  - 0
                  - 1
                ++registered:
                  type: string
                  format: sql-date-time
                  pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
                  description: |
                    Timestamp when the domain was initially registered.

                    Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
                    Normalizes the ISO date in `creation date`.
                  example: '2025-05-19 14:23:45'
                ++registrant:
                  type: array
                  description: Supplementary list of registrant names. Derived from `registrant name` and `registrant organization`.
                  items:
                    type: string
                    example: [Zero Cool, Titan Digital]
                ++registrar:
                  type: string
                  description: Name of the registrar managing the domain registration.
                  example: Squarespace Domains II LLC
                ++updated:
                  type: string
                  format: sql-date-time
                  pattern: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}$'
                  description: |
                    Timestamp when the domain's WHOIS record was last updated.
                    
                    Date and time in 'YYYY-MM-DD HH:MM:SS' format. Time is in 24-hour format with no timezone.
                    Normalizes the ISO date in `updated date`.
                  example: '2025-05-19 14:23:45'
                type: object
                additionalProperties:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                description: |
                  Dynamic key-value pairs representing additional WHOIS data fields not explicitly defined above.
                  Each key is a string representing the field name, and the value is an object containing the field's data.
            http:
              type: object
              description: "Data extracted from the HTTP response and headers. May include information about the result (example: status or code), server (example: server or x-powered-by), content (example: content-type or content-length), caching (example: cache-control or etag), security (example: strict-transport-security or x-frame-options), redirects (example: location or refresh), timing (example: date or age), or custom headers. Each key represents an HTTP field name (lowercased), and its corresponding value is the value retrieved for that field. Collected during active scanning."
              properties:
                server:
                  type: string
                  description: xx
                x-xss-protection:
                  type: string
                  description: xx
                vary:
                  type: string
                  description: xx
                x-content-type-options:
                  type: string
                  description: xx
                connection:
                  type: string
                  description: xx
                strict-transport-security:
                  type: string
                  description: xx
                cache-control:
                  type: string
                  description: xx
                content-encoding:
                  type: string
                  description: xx
                keep-alive:
                  type: string
                  description: xx
                ++code:
                  type: string
                  description: Code portion of the HTTP status code returned with the page response. It indicates the result of the HTTP request. Internal/extended metadata.
                transfer-encoding:
                  type: string
                  description: xx
                ++status:
                  type: string
                  description: Status portion of the HTTP status code returned with the page response. It indicates the result of the HTTP request. Internal/extended metadata.
                content-type:
                  type: string
                  description: xx
                ++content-type:
                  type: string
                  description: MIME type of the page without parameters.
                content-security-policy:
                  type: string
                  description: xx
                ++base:
                  type: string
                  description: Internal/extended metadata.
                ++target:
                  type: string
                  description: Internal/extended metadata.
                ++redirect:
                  type: string
                  description: Redirection target for the page. When defined in metadata, it often powers static site frameworks or CMS routing (e.g., Hugo, Next.js, Netlify). Can optionally include a status code. Internal/extended metadata.
                date:
                  type: string
                  format: date-time
                set-cookie:
                  type: string
                  description: xx
            ssl:
              type: object
              description: "Information extracted from the SSL/TLS certificate presented by the indicator during a handshake. May include information about ownership and identity (example: subject, domain), issuing authority (example: issuer), certificate lifecycle (example: expires, valid), and technical fingerprinting (example: version, fingerprint). Collected during active scanning."
              properties:
                subject:
                  type: string
                  description: Entity to which the certificate was issued.
                domain:
                  type: array
                  description: Primary domain name associated with the certificate, typically from the Common Name (CN) or Subject Alternative Name (SAN).
                  items:
                    type: string
                    description: xx
                version:
                  type: string
                  description: Version of the X.509 standard used by the certificate.
                org:
                  type: string
                  description: Common Name (CN) of the specific certificate authority that signed the certificate, extracted from the issuer field.
                ip:
                  type: string
                  description: IP address of the server presenting the certificate, if resolved.
                issuer:
                  type: string
                  description: Full Distinguished Name (DN) of the Certificate Authority (CA) that issued the certificate. Includes components like country (C), organization (O), and common name (CN).
                expires:
                  type: string
                  format: date-time
                  description: Expiration date and time of the certificate. After this date, the certificate is no longer valid.
                fingerprint:
                  type: string
                  description: Hash of the certificate used to uniquely identify the certificate and detect duplicates or known bad certs.
                valid:
                  type: string
                  format: date-time
                  description: Date and time when the certificate becomes valid.
                email:
                  type: string
                  description: Email address listed in the certificates subject or issuer fields.
                cipher:
                  type: array
                  description: Name of the cipher suite negotiated during the handshake. Useful for identifying the strength and type of encryption in use.
            dns:
              type: object
              description: Domain-related information for this indicator gathered from public DNS resolvers. Collected during active scanning.
              properties:
                mname:
                  type: string
                  description: Primary master nameserver for the domain's DNS zone, which is the authoritative source for DNS records.
                ns:
                  type: array
                  description: Nameserver hostnames responsible for resolving the domain.
                  items:
                    type: string
                mx:
                  type: array
                  description: Mail exchange server hostname for the domain, indicating where email should be routed.
                  items:
                    type: string
                a:
                  type: array
                  description: IPv4 addresses (A records) associated with the domain. These point to the servers hosting the domain.
                txt:
                  type: array
                  description: Text records associated with the domain. Commonly used by email authentication protocols like SPF, DKIM, and DMARC to help receiving mail servers verify the legitimacy of messages.
                  items:
                    type: string
                rname:
                  type: string
                  description: xx
                soa:
                  type: string
                  description: Start of Authority (SOA) record for the domain. Contains administrative information about the zone, such as primary nameserver (mname) and serial number.
                mame:
                  type: string
                  description: Email address of the responsible party for the DNS zone, typically formatted as a contact email for the domains DNS administrator or technical contact.
                aaaa:
                  type: array
                  description: IPv6 addresses (AAAA records) associated with the domain.
            meta:
              type: object
              description: Website metadata extracted from the HTML <head> tag. May include standard WC3 meta tags (for example, charset), SEO and crawling tags (for example, description, robots), social media platform meta tags (for example, twitter:card or og:card), or custom meta tags. Each key represents a meta tag type, and its corresponding value is the value retrieved from that meta tag.Collected during active scanning.
              properties:
                viewport:
                  type: string
                  description: xx
                twitter:card:
                  type: string
                  description: xx
                twitter:site:
                  type: string
                  description: xx
                charset:
                  type: string
                  description: xx
                ++title:
                  type: string
                  description: Title of the website collected from the HTML <title> tag in the <head> tag.
                keywords:
                  type: string
                  description: xx
                twitter:title:
                  type: string
                  description: xx
                assets:
                  type: string
                  description: xx
                  format: uri
                og:title:
                  type: string
                  description: xx
                og:description:
                  type: string
                  description: xx
                description:
                  type: string
                  description: xx
                twitter:description:
                  type: string
                  description: xx
                og:url:
                  type: string
                  description: xx
                  format: uri
                author:
                  type: string
                  description: xx
                twitter:creator:
                  type: string
                  description: xx
                twitter:image:
                  type: string
                  description: xx
                  format: uri
                og:image:
                  type: string
                  description: xx
                  format: uri
                version:
                  type: string
                  description: xx
            banners:
              type: object
              description: Mapping of port numbers (as strings) to service banner strings. 
            cookies:
              type: object
              description: |
                Mapping of HTTP cookies set by this indicator.
                Key names and values are dynamically generated.
                Collected during active scanning.
              additionalProperties:
                anyOf:
                  - type: string
                    description: |
                      Each `{key}` represents the name of a cookie (all lowercase), and the corresponding `{value}` string is the content retrieved for that cookie.
                  - type: array
                    items:
                      type: string
                    description: |
                      Each `{key}` represents the name of a cookie (all lowercase), and its corresponding `{value}` array is the content retrieved for that cookie.
            dom:
              type: object
              description: Data related to the Document Object Model (DOM) of this indicator. Collected during active scanning.
              properties:
                screenshot:
                  type: string
                  format: url
                  description: URL of a screenshot of the loaded page.
                  example: https://sandbox.pulsedive.com/screenshots/4179fbe377b84604ba4eaee47f5de9d2.jpeg

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Message describing the error that occurred, if available.

  responses:
    BadRequest:
      description: |
        Bad request. The request was malformed or missing required parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: |
        Unauthorized. Your API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: |
        Not found. The requested indicator could not be located.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    TooManyRequests:
      description: |
        Rate limit exceeded. Too many requests have been made in a short period of time.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: |
        Server error. An unexpected problem occurred on our end.
        These errors are automatically reported to our team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
