openapi: 3.1.0
info:
  title: Pulsedive API Reference
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: support@pulsedive.com
  description: >
    The API allows programmatic management of resources within Pulsedive.

    Please report any discrepancies with actual API behavior to <a href="mailto:support@pulsedive.com">Pulsedive Support</a>.
externalDocs:
  url: https://pulsedive.mintlify.app
servers:
- url: https://pulsedive.com
tags:
- name: Indicators
  description: >
    Use this endpoint to research existing Indicators by ID or value.
paths:
  /api/info.php:
    parameters:
      $ref: '#/components/parameters/indicatorValue'
    get:
      security:
      - configuration_key: []
      summary: By Value
      description: This query is identical to querying by indicator ID, but the information is retrieved using the indicator value. Querying links and properties by indicator value won't work.
      tags:
      - Indicators
      operationId: getIndicatorByValue
      responses:
        '200':
          description: Success
          headers:
            Ratelimit:
              $ref: '#/components/headers/RateLimit'
            RateLimitPolicy:
              $ref: '#/components/headers/RateLimitPolicy'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndicatorByValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
        default:
          $ref: '#/components/responses/GenericError'
components:
  parameters:
  - name: boardId
    description: The unique identifier (ID) of a Board.
    in: path
    required: true
    schema:
      type: string
  schemas:
    IndicatorByValue:
      type: object
      required:
      - xx
      properties:
        qid:
          type: string
          description: xx
        iid:
          type: integer
          description: xx
        indicator:
          type: string
          description: >-
            All boards are displayed visually in the UI. The field can still be sent, but it will have no functional effect in the UI.
        type:
          type: string
          description: The number of columns to layout on the board.
          enum:
          - domain
          - xx
          default: multi
        risk:
          type: string
          description: xx
          enum: xx
        risk_recommended:
          type: string
          description: xx
          enum: xx
        manualrisk:
          type: integer
          description: xx
        retired:
          type: string
          description: xx
        stamp_added:
          type: string
          description: xx
          format: date-time
        stamp_updated:
          type: string
          description: xx
          format: date-time
        stamp_seen:
          type: string
          description: xx
          format: date-time
        stamp_probed:
          type: string
          description: xx
          format: date-time
        stamp_retired:
          type: string
          description: xx
          nullable: true
        recent:
          type: integer
          description: xx
          enum:
        submissions:
          type: integer
          description: xx
        umbrella_rank:
          type: integer
          description: xx
        umbrella_domain:
          type: string
          description: xx
        riskfactors:
          type: array
          description: xx
          items:
            type: object
            properties:
              rfid:
                type: integer
                description: xx
              description:
                type: string
                description: xx
              risk:
                type: string
                description: Level of threat.
                enum: xx
        redirects:
          type: object
          description: xx
          properties:
            from:
              type: array
              description: xx
            to:
              type: array
              description: xx
              items:
                type: object
                description:
                properties:
                  lid:
                    type: integer
                    description: xx
                  indicator:
                    type: string
                    description: xx
        threats:
          type: array
          description: xx
          items:
            type: object
            description: xx
            properties:
              tid:
                type: integer
                description: xx
              name:
                type: string
                description: xx
              category:
                type: string
                description: xx
              risk:
                type: string
                description: Level of threat.
              stamp_linked:
                type: string
                format: date-time
        feeds:
          type: array
          description: xx
          items:
            type: object
            description: xx
            properties:
              fid:
                type: integer
                description: xx
              name:
                type: string
                description: xx
              category:
                type: string
                description: xx
              organization:
                type: string
                description: xx
              pricing:
                type: string
                description: xx
              stamp_linked:
                type: string
                description: xx
                format: date-time
        comments:
          type: array
          description: xx
          items:
            type: object
            description: xx
            properties:
              cid:
                type: integer
                description: xx
              username:
                type: string
                description: xx
              title:
                type: string
                description: xx
              comment:
                type: string
                description: xx
              stamp_added:
                type: string
                description:
                format: date-time
              stamp_updated:
                type: string
                description: xx
                format: date-time
        attributes:
          type: object
          description: xx
          properties:
            port:
              type: array
              description: xx
              items:
                type: string
                description: xx
            protocol:
              type: array
              description: xx
              items:
                types: string
                description: xx
            technology:
              type: array
              description: xx
              items:
                type: string
                description: xx
        properties:
          type: object
          description: xx
          properties:
            geo:
              type: object
              description: xx
              properties:
                countrycode:
                  type: string
                  description: xx
                region:
                  type: string
                  description: xx
                country:
                  type: string
                  description: xx
                address:
                  type: string
                  description: xx
                zip:
                  type: string
                  description: xx
                city:
                  type: string
                  description: xx
                org:
                  type: string
                  description: xx
            whois:
              type: object
              description: xx
              properties:
                admin country:
                  type: string
                  description: xx
                registrant country:
                  type: string
                  description: xx
                tech country:
                  type: string
                  description: xx
                admin state/province:
                  type: string
                  description: xx
                registrant state/province:
                  type: string
                  description: xx
                tech state/province:
                  type: string
                  description: xx
                creation date:
                  type: string timestamp xx
                  description: xx
                domain name:
                  type: string
                  description: xx
                registrar iana id:
                  type: string
                  description: xx
                registry domain id:
                  type: string
                  description: xx
                name server:
                  type: array
                  description:
                  items:
                    type: string
                    description: xx
                tech name:
                  type: string
                  description: xx
                registrant city:
                  type: string
                  description: xx
                tech street:
                  type: string
                  description: xx
                admin postal code:
                  type: string
                  description: xx
                admin city:
                  type: string
                  description: xx
                registrant postal code:
                  type: string
                  description: xx
                admin name:
                  type: string
                  description: xx
                tech city:
                  type: string
                  description: xx
                registrant name:
                  type: string
                  description: xx
                tech postal code:
                  type: string
                  description: xx
                registrant street:
                  type: string
                  description: xx
                admin street:
                  type: string
                  description: xx
                admin fax:
                  type: string
                  description: xx
                tech fax:
                  type: string
                  description: xx
                admin phone:
                  type: string
                  description: xx
                registrant fax:
                  type: string
                  description: xx
                registrant phone:
                  type: string
                  description: xx
                tech phone:
                  type: string
                  description: xx
                ++gdpr:
                  type: string
                  description: xx
                dnssec:
                  type: string
                  description: xx
                ++abuse:
                  type: string
                  description: xx
                registrar whois server:
                  type: string
                  description: xx
                registrar abuse contact phone:
                  type: string
                  description: xx
                registrar abuse contact email:
                  type: string
                  description: xx
                domain status:
                  type: array
                  description: xx
                  items:
                    type: string
                ++registrar:
                  type: string
                  description: xx
                registrar:
                  type: string
                  description: xx
                registrar url:
                  type: string
                  description: xx
                registrant email:
                  type: string
                  description: xx
                tech email:
                  type: string
                  description: xx
                admin email:
                  type: string
                  description: xx
                admin organization:
                  type: string
                  description: xx
                registrant organization:
                  type: string
                  description: xx
                tech organization:
                  type: string
                  description: xx
                ++registered:
                  type: string timestamp xx
                  description: xx
                registrar registration expiration date:
                  type: string timestamp xx
                  description: xx
                ++updated:
                  type: string timestamp xx
                  description: xx
                updated date:
                  type: string timestamp xx
                  description: xx
                ++expires:
                  type: string timestamp xx
                  description: xx
                country:
                  type: string
                  description: xx
                status:
                  type: string
                  description: xx
                domain:
                  type: string
                  format: uri
                  description: xx
                owner:
                  type: string
                  description: xx
                owner-c:
                  type: string
                  description: xx
                ownerid:
                  type: string
                  description: xx
                responsible:
                  type: string
                  description: xx
                created:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                email:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                nic-hdl-br:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                changed:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                person:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                ++registrant:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                ++email:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                nserver:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                tech-c:
                  type: string
                  description: xx
                expires:
                  type: string
                  description: xx
                nsstat:
                  type: string
                  description: xx
                nslastaa:
                  type: string
                  description: xx
            http:
              type: object
              description: xx
              properties:
                server:
                  type: string
                  description: xx
                x-xss-protection:
                  type: string
                  description: xx
                vary:
                  type: string
                  description: xx
                x-content-type-options:
                  type: string
                  description: xx
                connection:
                  type: string
                  description: xx
                strict-transport-security:
                  type: string
                  description: xx
                cache-control:
                  type: string
                  description: xx
                content-encoding:
                  type: string
                  description: xx
                keep-alive:
                  type: string
                  description: xx
                ++code:
                  type: string
                  description: xx
                transfer-encoding:
                  type: string
                  description: xx
                ++status:
                  type: string
                  description: xx
                  enum: xx
                content-type:
                  type: string
                  description: xx
                ++content-type:
                  type: string
                  description: xx
                content-security-policy:
                  type: string
                  description: xx
                ++base:
                  type: string
                  description: xx
                ++target:
                  type: string
                  description: xx
                ++redirect:
                  type: string
                  description: xx
                date:
                  type: string
                  format: date-time xx
                set-cookie:
                  type: string
                  description: xx
            ssl:
              type: object
              description: xx
              properties:
                subject:
                  type: string
                  description: xx
                domain:
                  type: array
                  description: xx
                  items:
                    type: string
                    description: xx
                version:
                  type: string
                  description: xx
                org:
                  type: string
                  description: xx
                issuer:
                  type: string
                  description: xx
                expires:
                  type: string timestamp xx
                  format: date-time xx
                  description: xx
                fingerprint:
                  type: string
                  description: xx
                valid:
                  type: string timestamp xx
                  format: date-time
                  description: xx
            dns:
              type: object
              description: xx
              properties:
                mname:
                  type: string
                  description: xx
                ns:
                  type: array
                  description: xx
                  items:
                    type: string
                mx:
                  type: array
                  description: xx
                  items:
                    type: string
                a:
                  type: string
                  description: xx
                txt:
                  type: array
                  description: xx
                  items:
                    type: string
                rname:
                  type: string
                  description: xx
                soa:
                  type: string
                  description: xx
            meta:
              type: object
              description: xx
              properties:
                viewport:
                  type: string
                  description: xx
                twitter:card:
                  type: string
                  description: xx
                twitter:site:
                  type: string
                  description: xx
                charset:
                  type: string
                  description: xx
                ++title:
                  type: string
                  description: xx
                keywords:
                  type: string
                  description: xx
                twitter:title:
                  type: string
                  description: xx
                assets:
                  type: string
                  description: xx
                  format: uri
                og:title:
                  type: string
                  description: xx
                og:description:
                  type: string
                  description: xx
                description:
                  type: string
                  description: xx
                twitter:description:
                  type: string
                  description: xx
                og:url:
                  type: string
                  description: xx
                  format: uri
                author:
                  type: string
                  description: xx
                twitter:creator:
                  type: string
                  description: xx
                twitter:image:
                  type: string
                  description: xx
                  format: uri
                og:image:
                  type: string
                  description: xx
                  format: uri
                version:
                  type: string
                  description: xx
            dom:
              type: object
              description: xx
              properties:
                screenshot:
                  type: string
                  description: xx
            cookies:
              type: object
              description: xx
              properties:
                phpsessid:
                  type: string
                  description: xx
